/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #666666;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --color-blue: #d2e3fc;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/*.buttons_src-pages- > * {
    margin: 0 10px 0;
}*/

.buttons_src-pages- {
    margin-left: 0px;
    margin-right: 10px;
}

.hero--primary {
  --ifm-hero-background-color: rgb(255,255,255);
  --ifm-hero-text-color: var(--ifm-font-color-base);
}

.hero__title {
  font-size: 5rem;
  /*margin-block-start: 0em;*/
  /*margin-block-end: 0em;*/
}
.hero__subtitle {
  font-size: 2.5rem;
}

/*.hero__text {
  text-align: left;
  align-items: left;
}*/

/*.hero__button {
  text-align: left;
  align-items: left;
}*/

.heroBanner_src-pages- {
  padding: 10rem 0 !important;
}

.feature__block {
  align-items: center;
}

.feature__text {
  font-size: 3rem;
  text-align: left;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 10px;
}

.feature__detail {
  margin-top: 10px;
  font-size: 1.25rem;
}

.highlight__block {
  background-color: var(--color-blue);
}

.highlight__title {
  margin-bottom: 0px;
  font-size: 1.35rem;
}

.highlight__section {
  min-height: 300px;
  padding-top: 50px;
  padding-bottom: 100px;
}


.navbar__title {
  font-size: 2.5rem;
  font-weight: 700;
}
.navbar__brand {
  margin-left: 1rem;
  font-size: 1.35rem;
}

.navbar__inner {
  max-width: var(--ifm-container-width);
  margin-left: auto;
  margin-right: auto;
}


.button--blue {
  background-color: var(--color-blue);
  margin-right: 10px;
}

.button--blue-border {
  border-color: var(--color-blue);
}

.link--blue {
  background-color: var(--color-blue);
  border-radius: var(--ifm-button-border-radius);
}

.footer--blue {
  color: #000;
  background-color: var(--color-blue);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;

}

.link--click {
  color: #1a73e8
}

.pricing--title {
  text-align: center;
  align-items: center;
  margin-bottom: var(--ifm-heading-margin-bottom);
}

.pricing--box {
  border-style: solid;
  border-color: var(--color-blue);
  border-radius: var(--ifm-button-border-radius);
}

.pricing--cost {
  font-size: 4rem;
  margin-bottom: 0px;
}

.pricing--items {
  text-align: left;
  align-items: center;
  width: fit-content;
  width: fit-content;
  margin-bottom: 0px;
}

.pills__item--active {
  color: black;
}
